<h1>Editar Paciente</h1>

<%= render 'form', paciente: @paciente %>


<div style="margin-top: 15px">
  <%= link_to '<span class="fas fa-arrow-left"></span> Voltar'.html_safe, :back,class: "btn btn-md " %>
</div>
