# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a09e80bd89c6cb46dbea885be13abc2884ce0fed6ae54281b486824c5e39ceb6eaf5f98633dcaf0c3a9ae022291e814f06c15bf654bb01aa5ff3dd1a15103cb3

test:
  secret_key_base: b0d6225697ab80d6de2b9ba3c4ccac95311c1f946dc441f76fca4d2fec4e0b089fe7663982a3b76dc2bc360f7b585170827ce82516c58e7781eeb78912a733df

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
