<h1>Editing Sala</h1>

<%= render 'form', sala: @sala %>


<div style="margin-top: 15px">
  <%= link_to '<span class="fas fa-arrow-left"></span> Voltar'.html_safe, @sala,class: "btn btn-md " %>
</div>
